<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="secureWebHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="ServiceLibrary.RestService">
        <endpoint address="" behaviorConfiguration="json" binding="webHttpBinding"
          bindingNamespace="http://crynac.com" contract="ServiceLibrary.IRestService" bindingConfiguration="secureWebHttpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8888/REST/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="RestEntities" connectionString="metadata=res://*/Database.REST.csdl|res://*/Database.REST.ssdl|res://*/Database.REST.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.137.129;user id=crynac;password=miqKBTQHiCNugiM9;persist security info=True;database=rest&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>